name: Velocity New Builds

on:
  schedule:
    - cron: "30 17 * * *"
  workflow_dispatch:

permissions:
  contents: write
  issues: write

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      latest_release: ${{ steps.download-release.outputs.latest_release }}
    steps:
      - name: Checkout scripts branch
        uses: actions/checkout@v5

      - name: Export scripts into template folder
        id: scripts
        run: |
          FOLDER="${{ runner.temp }}/scripts"
          echo "FOLDER=$FOLDER" >> $GITHUB_OUTPUT
          cp -r .github/workflows/scripts $FOLDER

      - name: Checkout build-state branch (if exists)
        id: checkout-state
        uses: actions/checkout@v5
        with:
          ref: build-state
          fetch-depth: 0
          persist-credentials: true
        continue-on-error: true

      - name: Create build-state branch (if missing)
        if: steps.checkout-state.outcome == 'failure'
        run: |
          git switch --orphan build-state
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git commit --allow-empty -m "Initialize empty branch"
          git push -u origin build-state

      - name: Checkout build-state branch (confirmed)
        if: steps.checkout-state.outcome == 'failure'
        uses: actions/checkout@v5
        with:
          ref: build-state
          fetch-depth: 0

      - name: Fetch builds to matrix
        id: set-matrix
        uses: actions/github-script@v8
        env:
          SCRIPT_FILE: '${{ steps.scripts.outputs.FOLDER }}/fetch-builds.js'
        with:
          script: await require(process.env.SCRIPT_FILE)({ github, context, core });

      - name: Commit updated .last_builds
        if: steps.set-matrix.outputs.matrix != '[]'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update last processed builds"
          branch: build-state
          file_pattern: .last_builds
          push_options: --force

      - name: Download release file
        if: steps.set-matrix.outputs.matrix != '[]'
        id: download-release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          LATEST_TAG=$(gh release list --limit 1 --json tagName -q '.[0].tagName')
          echo "Latest release: $LATEST_TAG"

          gh release download "$LATEST_TAG" --pattern "*.jar" -D ./release/

          echo "latest_release=$LATEST_TAG" >> "$GITHUB_OUTPUT"

      - name: Upload release file as artifact
        if: steps.set-matrix.outputs.matrix != '[]'
        uses: actions/upload-artifact@v4
        with:
          name: jars
          path: ./release/*.jar
  tests:
    needs: prepare
    uses: ./.github/workflows/velocity-test.yml
    with:
      matrix: ${{ needs.prepare.outputs.matrix }}
      report_latest_release: ${{ needs.prepare.outputs.latest_release }}
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
